{% extends "base.twig" %}

{% block content %}
  
  <article class="post-type-page" id="page-{{ post.ID }}">  
    <header>
      <h1>{{ post.title }}</h1>
    </header>

    <section id="content">
      <div class="max-w-container mx-auto px-4">
        {{ post.post_content }}
      </div>
    </section>

  </article>
  
{% endblock %}
